@import "tailwindcss";

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee-bidirectional {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.animate-marquee {
    animation: marquee 30s linear infinite;
}

.animate-marquee-bidirectional {
    animation: marquee-bidirectional 30s ease-in-out infinite;
}

.animate-marquee:hover,
.animate-marquee-bidirectional:hover {
    animation-play-state: paused;
}